*{
    font-family: sans-serif;
}
body{
    background-color: purple;
    color: white;
}

h1{
    margin: 0 auto;
    width: fit-content;
    text-decoration: underline;
}

table{
    border: outset;
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
}
table *{
    text-align: center;
}
.media, .situ{
    width: 100px;
}
button{
    padding: 5px 15px;
    cursor: pointer;
    transition: all 0.5s;
}
button:hover{
    opacity: 0.8;
}